/*  your css code here. If applicable */
*{
	background-color:  rgb(204, 204, 204);
	;
}
div{
	background-color: white;
	border: 1px solid;
	border-radius: 5px;
}
h1, h2{
	text-align: center;
}
#color{
	background-color: white;
}
.list{
	list-style-type: none;
	background-color: white;
	display: inline-block;
}
a{
	text-decoration-line: none;
	background-color: white;
	color: black;
}
.vid{
	
	padding: 20px;
	margin: 40px;
	border-radius: 5px;
	
}
video{
	background-color: rgb(255, 255, 255);
}
audio{
	border-radius: 10px;
    width: 100%;
	background-color: white;
}